*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: white;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: blue;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }